* {margin:0;padding:0;}
body,html {height:100%;}
body {min-height:100%; font: 16px/18px Roboto, sans-serif; color: #6a4c6a; }
    
a, img {outline:none;border:none;}
a {text-decoration: none;cursor: pointer; color: #e71531; }
a:hover {text-decoration:none; color:#6a4c6a;}
h1, h2, h3, h4, h5, h6 { font-size: 20px; margin: 0 0 18px; font-weight: normal; line-height: 1;}

/*#e71531*/
/*#6a4c6a*/

body {
	background: #f5f5f5;
}

header{
	height: 58px;
	background: #6a4c6a url("icons/left.png") left center no-repeat;
	background-size: contain;
	background-position: -19px 0px;
	position: relative;
	box-shadow: 0px 1px 3px 0px rgba(1, 1, 1, 0.13);
	margin-bottom: 32px;
}

header .desc{
	float: right;
	padding-right: 16px;
	padding-top: 4px;
}

header .desc h1{
	text-align: right;
	color: #ffffff;
	max-width: 170px;
	line-height: 1.2em;
	margin-bottom: 0px;
}

.wrapper{
	max-width: 420px;
	margin: 0 auto;
	padding: 0px 16px;
}

.logo{
	margin-left: 12px;
	margin-top: 5px;
	display: inline-block;
	width: 48px;
	height: 48px;
	background: url("icons/trol.png") left center no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

.block{
	background: #ffffff;
	box-shadow: 0px 1px 3px 0px rgba(1, 1, 1, 0.13);
	margin-bottom: 28px;
	padding-bottom: 18px;
	border-radius: 8px;
}

.block_wrapper{
	padding: 0px 16px;
}

.list_item{
	padding: 0px 16px;
}

.block_title{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	padding: 16px 16px 0px 16px;
	margin-bottom: 18px;
}

.route_item{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 56px;
	color: #6a4c6a;
}

.route_list{
	/*padding-top: 16px;*/
}

.route_type{
	font-size: 15px;
	margin-bottom: 6px;
	margin-top: 12px;
}

.route_item .number{
	border-radius: 50%;
	width: 36px;
	height: 36px;
	background: #6a4c6a;
	color: #ffffff;
	text-align: center;
	line-height: 36px;
	font-size: 18px;
	font-weight: bold;
	background-image: url("icons/trol.png");
	background-size: 75% 75%;
	background-repeat: no-repeat;
	background-position: center center;
}

.route_item .price{
	text-align: right;
	display: block;
	line-height: 28px;
	font-size: 18px;
	font-weight: bold;
}

.route_item .price:after{
	content: " грн";
	font-size: 12px;
	/*line-height: 8px;*/
	font-weight: normal;
	/*display: block;*/
	/*position: absolute;*/
	/*right: 0px;*/
	/*left: 0px;*/
	/*bottom: 6px;*/
}

.route_item .name{
	font-weight: bold;
}

.route_item .info{
	box-sizing: border-box;
	text-align: left;
	line-height: 1.2em;
	flex-grow: 1;
	padding-left: 18px;
}

.route_item .on-number{
	font-size: 12px;
}

footer{
	background: #6a4c6a;
	/*box-shadow: 0px 1px 3px 0px rgba(1, 1, 1, 0.13);*/
	padding: 8px 0px;
}

footer a{
	color: #ffffff;
}

footer a:hover{
	color: #e71531;
}

footer a i{
	vertical-align: text-bottom;
}

footer .icons{
	display: flex;
	justify-content: space-around;
}


/*switch-label*/
.switch-input {
  display: none;
}
.switch-label {
  position: relative;
  display: inline-block;
  min-width: 112px;
  cursor: pointer;
  font-weight: 500;
  text-align: left;
  padding: 8px 0px;
  margin: -8px 0px;
  width: 100%;
}
.switch-label:before, .switch-label:after {
  content: "";
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.switch-label:before {
  right: 1px;
  width: 34px;
  height: 14px;
  background-color: #9E9E9E;
  border-radius: 8px;
}
.switch-label:after {
  right: 16px;
  width: 20px;
  height: 20px;
  background-color: #FAFAFA;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.switch-input:checked + .switch-label:before {
  background-color: #db929c;
}
.switch-input:checked + .switch-label:after {
  background-color: #e71531;
  -ms-transform: translate(80%, -50%);
  -webkit-transform: translate(80%, -50%);
  transform: translate(80%, -50%);
}
/*switch-label end*/

@media (max-width: 380px){
	header{
		width: 100%;
		position: fixed;
		top: 0px;
		z-index: 1;
	}

	body{
		padding-top: 80px;
	}
}


.banner{
	display: none;
}

aside{
	display: none;
}

article{
	line-height: 1.6em;
}

article p{
	margin-bottom: 12px;
}

article ol, 
article ul{
	padding-left: 16px;
	margin-bottom: 16px;
}

article li{
	margin-bottom: 8px;
}

.text-icon{
	vertical-align: top;
}

.stud .no-stud{
	display: none;
}

.stud-only{
	display: none;
}

.stud .route_item.stud-only{
	display: flex;
}


@media (min-width: 900px){

	.page-layout{
		margin: 0 auto;
		max-width: 860px;
	}

	.page-layout:after{
		content: "";
		display: block;
		clear: both;
	}

	.main-content{
		
		float: left;
		width: 100%;
		margin-right: -360px;
		/*background-size: contain;*/
	}

	.phone-wrapper{
		background: url(img/phone.png) left top no-repeat;
		padding-top: 76px;
		padding-left: 16px;
		max-width: 396px;
		box-sizing: border-box;
		max-height: 650px;
		padding-bottom: 80px;
		overflow: hidden;
	}

	.phone-screen{
		max-height: 490px;
		overflow: hidden;
	}

	.phone-screen::-webkit-scrollbar { width: 0 !important }
	.phone-screen { -ms-overflow-style: none; }
	/*.phone-screen { overflow: -moz-scrollbars-none; }*/

	.main-content .left-col{
		margin-right: 360px;
	}

	aside{
		display: block;
		float: right;
		width: 360px;
	}

	main{
		-ms-transform: scale(0.732, 0.732);
		-webkit-transform: scale(0.732, 0.732);
		transform: scale(0.732, 0.732);
		transform-origin: top left;

	}

	.banner{
		display: block;
		background: #6a4c6a;
		color: #ffffff;
		/*text-align: center;*/
		line-height: 1.2em;
		padding: 48px 0px;
		margin-bottom: 48px;
	}

	.banner h1{
		font-size: 32px;
		margin-bottom: 32px;
	}

	.qr{
		text-align: center;
		margin-bottom: 24px;
	}
}